body{
	background-color:#F2F2F2;
	width: 403px;
	margin: 0 auto;
}

body #mainTitle{
	text-align:center;
	padding-bottom:40px;
}

#main{
	width:400px;
	height:250px;
	display:block;
}

#main .slideImg{
	width:80%;
	height:220px;
	float:left;
}

#main .slideNm{
	float:left;
	padding:25px 0px 0px 6px;
}

#main .slideNm font{
	font-weight:bold;
}

#main .slideClr{
	clear:both;
}

#main .slideTxt{
	float:none;
}

#main #startBtn{
	margin:200px auto;
	text-align:center;
	cursor:pointer;
	border:1px solid;
	border-radius:10px 10px 10px 10px;
	background-color:white;
	width:30%;
	height:13%;
}

#main #startBtn font{
	line-height:30px;
	font-weight:bold;
}

#main #startBtn:hover{
	margin:200px auto;
	text-align:center;
	cursor:pointer;
	border:1px solid;
	border-radius:10px 10px 10px 10px;
	background-color:white;
	width:33%;
	height:16%;
}

#main #startBtn:hover font{
	line-height:35px;
	font-weight:bold;
	font-size:18px;
}

#main #startBtn:active{
	margin:200px auto;
	text-align:center;
	cursor:pointer;
	border:1px solid;
	border-radius:10px 10px 10px 10px;
	background-color:#FF7800;
	width:33%;
	height:16%;
}

#main #startBtn:active font{
	line-height:35px;
	font-weight:bold;
	font-size:18px;
}